*.swn
.config/menus
*.swp
*.odt
*.rdb
/.config/libreoffice/*/user/*
*.tmp
*.xcu
*.lock
.config/libreoffice
*.swo
.config/libreoffice/*
.config/spacefm/session*
.config/Aaronia
AG/
.config/Andrew_Gaydenko/
.config/Arobas
Music/
.config/FreeCAD/
.config/Kitware/
.config/Meltytech/
.config/MuPuF.org/
.config/OpenSCAD/
.config/QtProject.conf
.config/Ulduzsoft/
.config/ardour3/Ardour_announcements_linux_3.5.378
.config/ardour3/Ardour_announcements_linux_3.5.403
.config/ardour3/ardour.bindings
.config/ardour3/export/
.config/ardour4/
.config/awesome/.rc.lua.swh
.config/awesome/.rc.lua.swi
.config/awesome/themes/blame.jpg
.config/awesome/themes/zenburn/blue.jpg
.config/awesome/themes/zenburn/circles.jpeg
.config/awesome/themes/zenburn/feh_001160_000001_filelist
.config/background.png
.config/blender/2.75/
.config/blender/2.76/
.config/cairo-dock/current_theme/launchers/07launcher.desktop
.config/cairo-dock/current_theme/launchers/08launcher.desktop
.config/cairo-dock/current_theme/launchers/09launcher.desktop
.config/cairo-dock/current_theme/launchers/10launcher.desktop
.config/chromium/
.config/gEDA/
.config/google-chrome-beta/
.config/google-chrome-unstable/
.config/google-chrome/
.config/gsmartcontrol/
.config/guvcview/
.config/icedtea-web/
.config/kalgebrarc
.config/kdeglobals
.config/kdenliverc
.config/kicad/
.config/knfsshare
.config/pudb/
.config/qucs/
.config/scudcloud/
.config/sqlitebrowser/
.config/xfce4/
log
usr/awesome/.buildpath
usr/awesome/.project
usr/awesome/.settings/
usr/awesome/lib/.naughty.lua.swl
.config/Aaronia AG/
.config/Arobas Music
