URxvt.perl-ext-common:  default,matcher,tabbedex
URxvt.tabbed.tabbar-bg: 255
URxvt.tabbed.tabbar-fg: 254
URxvt.tabbed.tab-bg:    255
URxvt.tabbed.tab-fg:    253
URxvt.tabbed.title-bg:    255
URxvt.tabbed.title-fg:    253
URxvt.tabbed.transparency: true
URxvt.tabbed.autohide: true
URxvt.tabbed.new-button: false
URxvt.tabbed.tabbar-timeouts: 1
URxvt.imLocale:ru_RU.koi8r

URxvt.urlLauncher:   /usr/bin/google-as-noname.sh
URxvt.url-launcher:   /usr/bin/google-as-noname.sh
!URxvt.url-launcher:   /usr/bin/firefox
URxvt.matcher.button: 3
URxvt.colorUL: #3ACDFF
URxvt.iso14755: false

#if SCREEN_NUM == 0
Xcursor.size: 48
Xcursor.theme:pCircle-32
!Xcursor.theme:ComixCursors-White
!Xcursor.theme:Whiteglass
Xft.dpi: 192
*.dpi: 192
Xft.autohint: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 0
Xft.rgba: rgba
#endif

#if SCREEN_NUM == 1
!Xcursor.theme:ComixCursors-White
Xcursor.theme:Whiteglass
Xcursor.size: 64
!Xft.dpi:  96
!*.dpi: 96
!Xft.dpi:  192
!*.dpi: 192
Xft.autohint: 0
Xft.lcdfilter: lcdnone
Xft.hintstyle: hintnone
Xft.hinting: 0
Xft.antialias: 0
Xft.rgba: rgba
#endif
